@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

* {
  margin: 0px;
  padding: 0px;
}
html, body {
  height: 100%;
  font-family: "Source Sans Pro", "Helvetica", "Georgia", serif;
	font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  min-width:1000px;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.1em;
  margin-bottom: 12px;
}
p, ul, ol {
  line-height: 1.5em;
  margin-bottom: 12px;
}

a{
	color: white;
}

a:visited {
  color: #59585A;
}
a:hover {
  text-decoration: none;
}

.four-column {
  width: 25%;
  height: 100%;
  display: inline;
  float: left;
}

#footer, #overlay, #header {
  position: absolute;
  z-index: 4;
}

#header {
  font-size: 12px;
  width: 100%;
  /*line-height: 1.5em;*/
  background-color: rgb(61, 61, 61);
  border-bottom: 1px solid black;
  /*color: #7F7F7F;*/
	color: white;
  /*line-height: 60px;*/
  height: 60px;
/*  vertical-align: middle;*/
  z-index: 11;
  /*text-align: center;*/
  position: absolute;
}

#heading {
	margin-top: 6px;
}

.slogan { 
	margin-top: 4px;
}

.logo {
  width: auto;
  font-size: 28px;
  font-weight: 400;
  color: #EFEFEF;
  margin-left: 9px;
  margin-right: 12px;
}

.search-slogan {
	margin-bottom: 2px;
}

.search {
  margin-left: 12px;
  width: 25%;
}

.prepend {
  width: auto;

  color: #D87603;
  background: #F7E4CD;
  border: 1px solid rgba(67, 77, 80, 0.35);

  margin-right: -4px;
  padding: 8px 6px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

#search-box {
  width: auto;
  height: 20px;
  padding: 4px 6px;
  display: inline-block;
  outline: none;

  border: 1px solid #CCC;
  /*
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  */
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#submit {
  width: auto;
  height: 30px;

	padding-left: 5px;
	padding-right: 5px;

  margin-left: -5px;

  color: #D87603;
  background: #F7E4CD;
  border: 1px solid rgba(67, 77, 80, 0.35);

  border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -ms-border-bottom-right-radius: 2px;
  -o-border-bottom-right-radius: 2px;

  cursor: pointer;
}

#submit:hover {
  text-decoration: none;
  background-color: #A38E8E;
  color: white;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;

  cursor: pointer;
}

#submit:active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
}

.slogan {
  width: auto;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.info {
  width: auto;
  float: right;
	line-height: 50px;
  text-align: right;
  font-size: 16px;
	font-weight: 200;
  text-decoration: none;
  margin-right:9px;
  right: 0;
}

.info > span {
	margin-right: 2px;
	margin-left: 2px;
}

#about, #privacy {
	text-decoration: none;
	font-weight: 400;
}

.info > span > iframe {
	margin-left: 2px;
	vertical-align: middle;
}

.twitter-follow-button {
	vertical-align: middle;
}

#basic-modal-content > p > a {
	text-decoration: none;
}

.production:hover {
  text-decoration: underline;
}

#pano {
  width: 100%;
  height: 100%;
}

#overlay {
  top: 72px;
  left: 18px;
  width: 400px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  display: none;
  z-index: 10;
}
#curtain {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 10;
  background-image: url('../images/debut_dark.png');
}

#error-div {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 45%;
  z-index: 15;
}

#error-div > div {
  background: #E9CEAF;
  font-size: 1.5em;
  padding: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right:auto;
  margin-left:auto;
  width:35%;
  text-align: center;
}

#change_modal {
  width: 476px;
  padding: 12px;
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -250px;
  background-color: #efefef;
  border: 1px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 11;
}
.toggleModal {
  font-size: 12px;
}
#countdown_text {
  text-align: center;
  font-style: italic;
}
#countdown {
  font-style: normal;
  font-weight: bold;
  margin-left: 6px;
  font-size: 24px;
  text-align: center;
  line-height: 2em;
}
#details {
  position: absolute;
  right: 18px;
  top: 72px;
  background-color: #eee;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8; 
  border: 1px solid #444;
  font-size: 24px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 18px;
  z-index: 6;
  max-width: 40%;
  line-height: 1.5em;
}
#tweet {
  z-index: 6;
  background-color: #eee;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8; 
  border-top: 1px solid #444;
  font-size: 24px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  int-padding-right: 32px;
  int-padding-left: 32px;
	padding-bottom: 32px;
	padding-top: 32px;
}
#tweet > a {
	color: #d87603;
}

#countdown {
  margin: 0px;
  margin-top: 12px;
}
